body{
	background-color:#FF9999;
}
main ol{
	background-color:#00CC99;
	width:1300px;
	padding:50px;
	margin:50px;
	border-style:dashed;
	border-color:#000099;
}
title {
}
h1 {
	background-color:#CC9933;
	border:groove #CC3333 30px;
	margin:20px;
	padding:10px;
}
h2 {
	background-color:yellow;
	border: solid navy 25px; 
	padding:10px;
	margin:10px;
}
h3 {
	background-color:#33FF66;
	border:outset pink 25px;
	padding:20px;
}
h4 {
}
h5 {
	background-color:#33FFFF;
	border:#3333FF outset 25px;
	padding:10px;
	margin:10px;
}
footer {
}
header {
}
nav {
}
table {
	background-color:#FF6666;
	width:300px;
	padding:100px;
	border:50px solid #FF6633;
	margin:30px;
	height:30px;
}
tr {
}
td {
}
th {
}
article {
	background-color:#FFFF66;
	width:1000px;
	padding:50px;
	border:30px;
	margin:50px;
	height:500px;
}
p {
}
ul {
	background-color:#33CC66;
	padding:50px;
	border:30px;
	border-style:solid;
	border-color:#339933;
	margin:25px;
}
ol {
	background-color:#660099;
	border-width:20px;
	border-style:outset;
	color:white;
	padding:20px;
	margin:25px;
	width:1000px;
	height:180px;

}
th {
	background-color:green;
	border:dashed purple 10px;
}
td {
	background-color:white;
	border:solid blue 5px;
}
	

