* {
	outline: dotted red;
}
nav {
	float:left;
	width:250px;
	height:500px;
}
main {
	margin-left:251px;
//	clear: both;
}

p {
	font-family: 'Lobster', cursive;
}
h1 {
	font-family: 'Sancreek', cursive;
}
table {
	font-family: 'Playfair Display', serif;
}
ul {
	font-family: 'Playfair Display', serif;
}
h3 {
	font-family: 'Lobster', cursive;
}
h2 {
	clear:both;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
img {
	float:right;
}
br{
	clear:both;
}
	

}
